# =====================
# CI Environment
# =====================
CI_ENVIRONMENT=development

# =====================
# App Settings
# =====================
app.baseURL=http://localhost:8080/
app.indexPage=

# =====================
# Database
# =====================
database.default.hostname=db
database.default.database=issp_db
database.default.username=root
database.default.password=root
database.default.DBDriver=MySQLi
database.default.port=3306